# Datenbank Root-Passwort (nur fuer MariaDB intern)
DB_ROOT_PASS=geheimesRootPasswort

# Moodle Datenbank Zugangsdaten
DB_NAME=moodledb
DB_USER=moodleuser
DB_PASS=moodlePasswort123

# Ports
PORT_NEU=80
PORT_ALT=8080
